.sass-cache/
*.css.map
Gemfile.lock
assets-gtk2/
assets-gtk3/
gtk-3.18/
gtk-3.20/
gtk-3.22/
_custom_colors.scss
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
Makefile
Makefile.in
missing
